/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-top: 0;
}

/* Estilos para secciones de administración */
#adminNoticias, #adminRecetas {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #892687;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para secciones de noticias y recetas */
#noticias, #recetas {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#buscarNoticias, #buscarRecetas {
    margin-bottom: 10px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button#buscarNoticiasBtn, button#buscarRecetasBtn {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #4ebc5e;
    overflow: auto;
}

  
#section {
    width: auto; /* Ajusta el ancho según tu preferencia */
    height: auto; /* Ajusta el alto según tu preferencia */
margin-left: 5em;
}

.NP {
    width: 300px; /* Ajusta el ancho según tu preferencia */
    height: 400px; /* Ajusta el alto según tu preferencia */
    margin-bottom: 20px; /* Agrega un espacio entre los elementos .NP */
    overflow: auto; /* Oculta el contenido que desborda el contenedor */

}

/* Estilo para los elementos de noticias */
.NP {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
}

.NP h1 {
    font-size: 20px;
    color: #333;
}

/* Estilo para los elementos de recetas */
.NP.recetas {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    background-color: #f2f2f2;
}

.NP.recetas h1 {
    font-size: 20px;
    color: #555;
}

/* Otros estilos (personaliza según tus preferencias) */
/* Puedes agregar estilos adicionales aquí según tus preferencias. */
