/* styles.css */
#newsSection {
  flex: 1; /* Make the news section take up the available space */
  padding: 10px; /* Optional: Add padding for spacing */
  color: #ffff;
  background-color:#000;

}


/* Estilos para el encabezado de la sección de noticias */
#newsSection h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    background-color:#000;

}

/* Estilos para los párrafos de la sección de noticias */
#newsSection p {
    font-size: 1.2em;
    line-height: 1.4;
    margin-bottom: 15px;
    text-align: justify; /* Añade esta línea para justificar el texto */
}

/* Estilos para los puntos destacados */
#newsSection strong {
    font-weight: bold;
}

/* Estilos para la lista de características */
#newsSection ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Estilos para los elementos de lista */
#newsSection li {
    margin-bottom: 10px;
}
