
/* Estilos para la clase ocultar elementos */
.hidden {
    display: none;
}

/* Estilos para Botones */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #45a049;
    transform: translateY(-px);
}

button:active {
    transform: translateY(0);
}

/* Estilos para Formularios */
form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.9rem;
}

form input,
form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

form input:focus,
form textarea:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

textarea {
    resize: vertical;
    min-height: 100px;
}

/* Mensaje de Confirmación */
#confirmation-message {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 15px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    margin: 20px auto;
    text-align: center;
    max-width: 500px;
    font-size: 1rem;
}

/* Estilos para Listas de Visualización */
ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
}

li {
    background-color: #fff;
    margin: 10px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

li h3 {
    margin-top: 0;
    font-size: 1.2rem;
}

li p {
    margin: 10px 0;
}

/* Publicidades */
#publicidadesList img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Sección de Comentarios */
#commentsList {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 600px;
}

.comment {
    padding: 10px;
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.comment .author {
    font-weight: bold;
    color: #3c763d;
    margin-bottom: 5px;
}

.comment .text {
    margin: 5px 0;
    font-size: 0.9rem;
}

/* Sección de Productores y Empacadoras */
#productoresList,
#empacadorasList {
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

/* Ajustar el ancho de las publicidades y comentarios */
#publicidades, #comentarios {
    width: 90%; /* Ancho de la sección */
    max-width: 600px;
    margin: 20px auto;
    max-height: 600px; /* Ajusta la altura máxima */
    padding: 1em;
    border: 1px solid #bbb;
    border-radius: 8px;
    overflow: auto;
    overflow-x: hidden; /* Desactiva el desplazamiento horizontal */
    max-height: 800px;
}

/* Ajustar el ancho y el diseño de las secciones */
#adminPublicidades, #adminComentarios {
    width: 90%; /* Ancho de la sección */
    max-width: 600px;
    margin: 1em;
    padding: 15px;
    background-color: #000000;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    max-height: 600px; /* Ajusta la altura máxima */
}

.CenterGreenh5 {
   text-align: center;
   color: #4CAF50;
font-size: 1.4em  ;
}

/* Ajustar secciones de Productores y Empacadoras */
#productores,
#empacadoras {
    max-width: 50%;
    margin: 0 auto;
}

/* Estilos para las publicidades */
#publicidadesList li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9rem;
}

#publicidadesList img {
    max-width: 200px;
}

/* Estilos para los comentarios */
#comentariosList {
    list-style-type: none;
    padding: 0;
}

#comentariosList li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.85rem;
}

.comment .author {
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 4px;
}

.comment .text {
    margin: 4px 0;
    font-size: 0.85rem;
}

/* Estilo general para secciones con barras de desplazamiento */
.scrollable-section {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}




/* El fondo del modal */
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed;
    z-index: 1; /* Asegúrate de que el modal esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 90%;
    overflow: auto; /* Habilitar el desplazamiento si es necesario */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo con opacidad */
}



/* Contenido del modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Ajustar la posición del modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Tamaño del modal */
    max-width: 600px; /* Tamaño máximo */
    border-radius: 5px;
    
}

/* Botón de cerrar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Cambiar el color del botón de cerrar al pasar el ratón */
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo del botón de aceptar */
button {
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
}

/* Títulos centrados */
.centered {
    text-align: center;
}

/* Texto justificado */
.justified-text {
    text-align: justify;
    font-size: 0.8em; /* Tamaño del texto más pequeño */
}

/* Estilo para los labels dentro de .gender-selection */
.gender-selection label {
    color: gray; /* Color del texto de los labels */
    font-size: .9em; /* Tamaño de la fuente */
    margin-right: 10px; /* Espacio entre los labels */
    display: flex;
    align-items: center;
}

/* Estilo para los inputs de tipo radio */
.gender-selection input[type="radio"] {
    appearance: none; /* Oculta el estilo predeterminado del radio en la mayoría de los navegadores */
    -webkit-appearance: none; /* Oculta el estilo predeterminado en navegadores basados en WebKit */
    border: 2px solid gray; /* Borde del radio */
    border-radius: 50%; /* Hace que el radio sea circular */
    width: .9em; /* Ancho del radio */
    height: .9em; /* Alto del radio */
    outline: none; /* Elimina el contorno predeterminado */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    position: relative; /* Posiciona el círculo interno */
}

/* Estilo para el radio seleccionado */
.gender-selection input[type="radio"]:checked::before {
    content: ''; /* Necesario para los pseudo-elementos */
    position: absolute; /* Posición absoluta para el círculo interno */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrar el círculo */
    width: 1em; /* Tamaño del círculo central */
    height: 1em; /* Tamaño del círculo central */
    border-radius: 50%; /* Hace que el círculo sea redondo */
    background-color: #4CAF50; /* Color del círculo central cuando está seleccionado */
}
