
.titleInstrucionesreRegistroHuerta {
    color: #4CAF50;
}

/* lista de pasos para registrar huertos a nacional y exportacion */
.listRegistroHuerta {
    margin: 1.5em;
}

.leftText {
    text-align: left;
}