
/* Add sticky footer styles */
html {
  height: 100%;
}

/* Contenedor principal */
.container {
  display: flex;
  flex-wrap: nowrap; /* Evita el ajuste de línea */
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2em;
  background-color: #85bb65;
}

/* contenedor interno de comparacioncon el dia anterior*/
#VarREsult{
  display: inline-block;
  align-items: center;
  justify-content: center;
  justify-items: center;
}


/* contenedor Externo de comparacioncon el dia anterior*/
#variacionMayores {
  display: flex;
  margin-right:2em;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

/* Contenedor de botones, grafica y venta*/
#Prices {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center; /* Align items at the top of the container */
  padding: 1em;
background-color: #000000;
}

#selectContainer{
  background-color: #000000;
}

#venderContainerPrincipal{
  display: flex;
  gap: 0;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center; /* Align items at the top of the container */
  background-color: #146532;
  margin: 0%;
  padding: 0%;
  
    }

/* contenedor de grafica y grafica */
#Grafic {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espaciado entre los gráficos */
  height: auto;
  width: 80%; /* ancho de las graficas */
  align-items: center;
  justify-content: center;
  justify-items: center;

}

/* contenedor de cada grafica */
.grf {
  width: 80%;
  min-width: 300px; /* Ancho mínimo ajustable según tus necesidades */
  margin-right: 10px; /* Espaciado entre los gráficos */
  height: auto;
  border: solid 1px #fff;
  margin-bottom: 1em;

}

/* grafica donde se renderiza el canvas*/
.grafico {

  width: 100%; /* Hace que el canvas ocupe todo el ancho del contenedor */
}


/* contenedor de precios */
#precioDiv{
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  flex-basis: calc(20%); /* Adjust the spacing as needed */
  width: 100%; /* Ocupa el ancho completo del contenedor padre */
  height: 100%; /* Ocupa el alto completo del contenedor padre */
  margin: 0%;
  
}


#otraSeccionUltimoPrecio {
  color: chartreuse;
}

.precioActual {
  padding: 0%;
  margin: 0%;
    background-color: rgba(26, 199, 60, 0.2);


}

/* contenedores de precios actualizados */
.price {
  text-align: center;
  color:#fff;
  padding: 0%;
  margin: 0%;
}

.PrecioResult {
  padding: 0%;
  height: 3em;
}

/* resultados de busqueda de precios*/
.precio{
 padding: 0%;
 margin: 0%;
}

/*Fecha del resultado de precios*/
.fecha{
  padding: 0%;
  margin: 0%;

}

/* Selecte de precios */
/* Estilos para el elemento con la clase selectPrices */
.selectPrices {
  width: 200px; /* Ancho del select */
  padding: 10px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  border: 1px solid #ccc; /* Borde del select */
  border-radius: 5px; /* Radio de borde */
  background-color: #fff; /* Color de fondo */
  color: #333; /* Color del texto */
}

/* Estilos cuando el usuario interactúa con el selectPrices */
.selectPrices:hover {
  border-color: #555; /* Cambia el color del borde al pasar el ratón */
}

/* Estilos cuando el selectPrices está enfocado (seleccionado) */
.selectPrices:focus {
  outline: none; /* Elimina el contorno predeterminado al enfocar */
  box-shadow: 0 0 20px rgba(26, 199, 60, 0.5); /* Sombra alrededor del selectPrices al enfocar */
}

/* Estilos para las opciones dentro del selectPrices */
.selectPrices option {
  background-color: #fff; /* Color de fondo de las opciones */
  color: #333; /* Color del texto de las opciones */
}

/* Estilos cuando el usuario interactúa con las opciones */
.selectPrices option:hover {
  background-color: #f0f0f0; /* Cambia el color de fondo de las opciones al pasar el ratón */
}


#adBanner {
  flex: 0 0 300px; /* Make the ad banner have a fixed width of 300px, and don't allow it to grow or shrink */
  padding: 10px; /* Optional: Add padding for spacing */
}


  /* Smaller screens */
@media screen and (max-width: 900px) {
  #ButtonContainer,
  #precioDiv {
    display: flex;
    flex-wrap: nowrap;
  }

  #ButtonList{ 
  display: flex;
  }

  #ButtonList li button{
  padding: auto; /* Ajusta el espaciado interno del botón */
  max-width: 150px; /* Define el ancho máximo del botón */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el texto que desborda */
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al final si el texto desborda */
  }


  #ButtonContainer{
    flex-basis: 50%; /* Each container takes half of the width */
  }


  #Grafic {
    order: -1; /* Push Grafic to the top on smaller screens */
   flex-basis: 95%; /* se ajusta 90% el tamaño cuando en pantalla reducida*/
  }

  .grafico{
    flex-basis: 50%; /* se ajusta 90% el tamaño cuando en pantalla reducida*/
    max-width: min-content;
  }

  .grf {
margin: 1em;  }

  


#adBanner{
  border: solid 5px rgb(140, 0, 255);
  display: flex;
}

}



/* ... CSS For list for information page ...*/
.containerTypeInfo {
  background-color: rgba(0, 0, 0, 0.85);;
  margin: 1em;
  margin-top: 2em;
  padding: 2em;
  padding-top: 1%;
}


/*
/* News & Publicidad container*/
.content-container{
  margin-top: .2em;
  display: flex; /* Use Flexbox to make the elements inside it display side by side */
  background-color: #000000;
}
  



#adBanner {
  flex: 0 0 300px; /* Make the ad banner have a fixed width of 300px, and don't allow it to grow or shrink */
  padding: 10px; /* Optional: Add padding for spacing */
}

/* links and Hover*/

a:visited{}
a:hover{}
a:active {}
header {}

#coffe {
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  justify-content: center;
  justify-items: center;
border: solid 1px chartreuse;
padding: 1em;
padding-bottom: 2em;
} 
    


a {
  text-decoration: none;
  color: #49cf3a; /* Puedes ajustar el color según tus preferencias */
}

a:hover {
  text-decoration: underline;
}
