
/* Add sticky footer styles */
html {
  height: 100%;
}

/* Contenedor principal */
.container {
  display: flex;
  flex-wrap: nowrap; /* Evita el ajuste de línea */
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2em;
  background-color: #85bb65;
}

/* Contenedor de botones, grafica y venta*/
#Prices {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center; /* Align items at the top of the container */
  padding: 1em;
background-color: #000000;
}

#venderContainerPrincipal{
  display: flex;
  gap: 0;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center; /* Align items at the top of the container */
  background-color: #146532;
  margin: 0%;
  padding: 0%;
  
    }

/* contenedor de grafica y grafica */
#Grafic {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espaciado entre los gráficos */
  height: auto;
  width: 80%; /* ancho de las graficas */
  align-items: center;
  justify-content: center;
  justify-items: center;

}

/* contenedor de cada grafica */
.grf {
  width: 80%;
  min-width: 300px; /* Ancho mínimo ajustable según tus necesidades */
  margin-right: 10px; /* Espaciado entre los gráficos */
  height: auto;
  border: solid 1px #fff;
  margin-top: 1em;
}

/* grafica donde se renderiza el canvas*/
.grafico {

  width: 100%; /* Hace que el canvas ocupe todo el ancho del contenedor */
}


/* contenedor de precios */
#precioDiv{
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  flex-basis: calc(20%); /* Adjust the spacing as needed */
  width: 100%; /* Ocupa el ancho completo del contenedor padre */
  height: 100%; /* Ocupa el alto completo del contenedor padre */
  margin: 0%;
}


#otraSeccionUltimoPrecio {
  color: chartreuse;
}

/* contenedores de precios actualizados */
.price {
  text-align: center;
  color:#fff;
}

#adBanner {
  flex: 0 0 300px; /* Make the ad banner have a fixed width of 300px, and don't allow it to grow or shrink */
  padding: 10px; /* Optional: Add padding for spacing */
}


  /* Smaller screens */
@media screen and (max-width: 900px) {
  #ButtonContainer,
  #precioDiv {
    display: flex;
    flex-wrap: nowrap;
  }

  #ButtonList{ 
  display: flex;
  }

  #ButtonList li button{
  padding: auto; /* Ajusta el espaciado interno del botón */
  max-width: 150px; /* Define el ancho máximo del botón */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el texto que desborda */
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al final si el texto desborda */
  }


  #ButtonContainer{
    flex-basis: 50%; /* Each container takes half of the width */
  }


  #Grafic {
    order: -1; /* Push Grafic to the top on smaller screens */
   flex-basis: 95%; /* se ajusta 90% el tamaño cuando en pantalla reducida*/
  }

  .grafico{
    flex-basis: 50%; /* se ajusta 90% el tamaño cuando en pantalla reducida*/
    max-width: min-content;
  }

  .grf {
margin: 1em;  }

  


#adBanner{
  border: solid 5px rgb(140, 0, 255);
  display: flex;
}

}



/* ... CSS For list for information page ...*/
.containerTypeInfo {
  background-color: rgba(0, 0, 0, 0.85);;
  margin: 1em;
  margin-top: 2em;
  padding: 2em;
  padding-top: 1%;
}


/*
/* News & Publicidad container*/
.content-container{
  margin-top: .2em;
  display: flex; /* Use Flexbox to make the elements inside it display side by side */
  background-color: #000000;
}
  



#adBanner {
  flex: 0 0 300px; /* Make the ad banner have a fixed width of 300px, and don't allow it to grow or shrink */
  padding: 10px; /* Optional: Add padding for spacing */
}

/* links and Hover*/

a:visited{}
a:hover{}
a:active {}
header {}


